In [1]:
import pandas as pd

In [2]:
filename = 'heart_disease.csv'
data = pd.read_csv(filename)
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,smoking,diabetes,bmi,heart_disease
0,67,1,2,111,536,0,2,88,0,1.3,3,2,3,1,0,23.4,1
1,57,1,3,109,107,0,2,119,0,5.4,2,0,3,0,1,35.4,0
2,43,1,4,171,508,0,1,113,0,3.7,3,0,7,1,1,29.9,0
3,71,0,4,90,523,0,2,152,0,4.7,2,1,3,1,0,15.2,1
4,36,1,2,119,131,0,2,128,0,5.9,3,1,3,1,0,16.7,1

In [3]:
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,smoking,diabetes,bmi,heart_disease
0,67,1,2,111,536,0,2,88,0,1.3,3,2,3,1,0,23.4,1
1,57,1,3,109,107,0,2,119,0,5.4,2,0,3,0,1,35.4,0
2,43,1,4,171,508,0,1,113,0,3.7,3,0,7,1,1,29.9,0
3,71,0,4,90,523,0,2,152,0,4.7,2,1,3,1,0,15.2,1
4,36,1,2,119,131,0,2,128,0,5.9,3,1,3,1,0,16.7,1
5,49,1,1,186,571,0,0,176,0,4.0,3,0,3,1,0,33.8,0
6,67,1,1,113,127,1,0,68,0,6.1,2,3,3,1,0,26.2,0
7,47,1,2,103,305,0,0,185,0,1.9,2,0,3,1,0,25.1,0
8,51,0,4,125,592,1,0,136,0,1.2,3,0,6,0,0,18.6,0
9,39,0,2,158,486,0,0,69,0,2.5,1,0,3,0,0,18.9,0

In [4]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,smoking,diabetes,bmi,heart_disease
3064,52,0,1,169,479,0,0,124,0,3.7,2,3,3,0,0,27.8,0
3065,75,0,4,90,372,0,2,141,0,2.1,2,2,3,0,1,37.0,1
3066,68,1,4,166,564,0,1,76,0,4.5,3,1,3,0,0,16.1,1
3067,66,0,3,143,113,1,1,207,0,3.6,1,0,6,0,0,27.7,0
3068,38,1,4,100,507,0,1,187,0,0.9,1,0,7,0,0,16.3,0

In [5]:
data.shape

(3069, 17)

In [6]:
data.dtypes

age                int64
sex                int64
cp                 int64
trestbps           int64
chol               int64
fbs                int64
restecg            int64
thalach            int64
exang              int64
oldpeak          float64
slope              int64
ca                 int64
thal               int64
smoking            int64
diabetes           int64
bmi              float64
heart_disease      int64
dtype: object

In [7]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,smoking,diabetes,bmi,heart_disease
count,3069.00000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000
mean,52.50114,0.555556,2.489736,145.306289,347.219941,0.145650,1.004236,135.157380,0.176279,3.189052,2.023786,0.626588,4.544477,0.348974,0.193874,27.496839,0.388074
std,13.70752,0.496985,1.110417,31.602321,146.853319,0.352813,0.812016,43.353197,0.381119,1.802815,0.817679,0.891447,1.751064,0.476723,0.395396,7.281731,0.487391
min,29.00000,0.000000,1.000000,90.000000,100.000000,0.000000,0.000000,60.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000,15.000000,0.000000
25%,41.00000,0.000000,2.000000,118.000000,215.000000,0.000000,0.000000,98.000000,0.000000,1.600000,1.000000,0.000000,3.000000,0.000000,0.000000,21.300000,0.000000
50%,53.00000,1.000000,2.000000,146.000000,350.000000,0.000000,1.000000,135.000000,0.000000,3.200000,2.000000,0.000000,3.000000,0.000000,0.000000,27.400000,0.000000
75%,64.00000,1.000000,3.000000,172.000000,475.000000,0.000000,2.000000,172.000000,0.000000,4.700000,3.000000,1.000000,6.000000,1.000000,0.000000,33.900000,1.000000
max,76.00000,1.000000,4.000000,200.000000,600.000000,1.000000,2.000000,210.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.000000,1.000000,40.000000,1.000000

In [9]:
data.groupby('heart_disease').size()

heart_disease
0    1878
1    1191
dtype: int64

In [10]:
# correlation Pearson
data.corr(method='pearson')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,smoking,diabetes,bmi,heart_disease
age,1.000000,-0.025188,-0.029535,0.035303,0.001722,0.016916,0.009795,-0.023883,-0.041934,0.033059,0.028744,0.006783,0.006227,-0.011857,-0.001574,-0.029525,0.286731
sex,-0.025188,1.000000,-0.015356,0.011762,-0.042936,-0.008055,-0.026025,-0.008946,-0.002677,0.011156,-0.058998,-0.004659,0.009239,-0.009630,0.010689,0.011185,-0.000897
cp,-0.029535,-0.015356,1.000000,-0.019239,0.031950,0.006729,-0.009170,-0.006402,-0.018444,-0.008897,-0.017501,-0.024618,0.001283,0.003382,0.013071,-0.000365,-0.000166
trestbps,0.035303,0.011762,-0.019239,1.000000,-0.005646,-0.010609,0.023651,-0.009357,0.011077,0.025071,-0.023100,0.007463,0.005190,-0.012311,0.013897,-0.000278,-0.002260
chol,0.001722,-0.042936,0.031950,-0.005646,1.000000,0.027854,-0.015383,0.051841,-0.017931,-0.016972,-0.001648,-0.005258,-0.022381,0.016684,0.021023,-0.015417,0.015789
fbs,0.016916,-0.008055,0.006729,-0.010609,0.027854,1.000000,0.006948,0.002486,0.010189,-0.004461,-0.002974,-0.010452,0.001909,0.003893,-0.006219,0.017396,0.006693
restecg,0.009795,-0.026025,-0.009170,0.023651,-0.015383,0.006948,1.000000,-0.000371,0.019704,-0.010166,0.032248,0.000385,-0.010563,-0.029922,-0.002559,-0.000665,0.012317
thalach,-0.023883,-0.008946,-0.006402,-0.009357,0.051841,0.002486,-0.000371,1.000000,-0.003810,-0.030678,-0.020923,0.002795,0.012001,0.029578,0.000007,-0.001801,0.007567
exang,-0.041934,-0.002677,-0.018444,0.011077,-0.017931,0.010189,0.019704,-0.003810,1.000000,-0.021858,0.029424,0.044146,0.016820,-0.006808,-0.006242,0.000447,-0.033249
oldpeak,0.033059,0.011156,-0.008897,0.025071,-0.016972,-0.004461,-0.010166,-0.030678,-0.021858,1.000000,0.017600,-0.003620,-0.026319,-0.002418,-0.008590,0.008510,-0.014341
slope,0.028744,-0.058998,-0.017501,-0.023100,-0.001648,-0.002974,0.032248,-0.020923,0.029424,0.017600,1.000000,-0.029397,0.010074,0.002111,-0.006203,0.023689,-0.009266
ca,0.006783,-0.004659,-0.024618,0.007463,-0.005258,-0.010452,0.000385,0.002795,0.044146,-0.003620,-0.029397,1.000000,0.001873,-0.000825,-0.010006,-0.019418,-0.012953
thal,0.006227,0.009239,0.001283,0.005190,-0.022381,0.001909,-0.010563,0.012001,0.016820,-0.026319,0.010074,0.001873,1.000000,-0.001224,-0.016460,-0.010834,-0.010874
smoking,-0.011857,-0.009630,0.003382,-0.012311,0.016684,0.003893,-0.029922,0.029578,-0.006808,-0.002418,0.002111,-0.000825,-0.001224,1.000000,0.004082,-0.011710,-0.014909
diabetes,-0.001574,0.010689,0.013071,0.013897,0.021023,-0.006219,-0.002559,0.000007,-0.006242,-0.008590,-0.006203,-0.010006,-0.016460,0.004082,1.000000,0.011783,-0.006603
bmi,-0.029525,0.011185,-0.000365,-0.000278,-0.015417,0.017396,-0.000665,-0.001801,0.000447,0.008510,0.023689,-0.019418,-0.010834,-0.011710,0.011783,1.000000,-0.005477
heart_disease,0.286731,-0.000897,-0.000166,-0.002260,0.015789,0.006693,0.012317,0.007567,-0.033249,-0.014341,-0.009266,-0.012953,-0.010874,-0.014909,-0.006603,-0.005477,1.000000

In [11]:
# skew 
data.skew()

age             -0.020724
sex             -0.223716
cp               0.014439
trestbps        -0.040295
chol             0.010539
fbs              2.010025
restecg         -0.007741
thalach          0.001477
exang            1.699899
oldpeak         -0.067012
slope           -0.043800
ca               1.192915
thal             0.323272
smoking          0.634015
diabetes         1.549462
bmi              0.012683
heart_disease    0.459585
dtype: float64