In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('housing.csv')
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
housing.shape

(20640, 10)

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
housing[housing.isnull().any(axis=1)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
738,-122.14,37.67,37.0,3342.0,NaN,1635.0,557.0,4.7933,186900.0,NEAR BAY
1097,-121.77,39.66,20.0,3759.0,NaN,1705.0,600.0,4.7120,158600.0,INLAND
1350,-121.95,38.03,5.0,5526.0,NaN,3207.0,1012.0,4.0767,143100.0,INLAND
1456,-121.98,37.96,22.0,2987.0,NaN,1420.0,540.0,3.6500,204100.0,INLAND
1493,-122.01,37.94,23.0,3741.0,NaN,1339.0,499.0,6.7061,322300.0,NEAR BAY
1606,-122.08,37.88,26.0,2947.0,NaN,825.0,626.0,2.9330,85000.0,NEAR BAY
2028,-119.75,36.71,38.0,1481.0,NaN,1543.0,372.0,1.4577,49800.0,INLAND
2115,-119.72,36.76,23.0,6403.0,NaN,3573.0,1260.0,2.3006,69000.0,INLAND
2301,-119.78,36.82,25.0,5016.0,NaN,2133.0,928.0,3.6250,89500.0,INLAND
2323,-119.73,36.83,8.0,3602.0,NaN,1959.0,580.0,5.3478,138800.0,INLAND
2334,-119.69,36.83,32.0,1098.0,NaN,726.0,224.0,1.4913,54600.0,INLAND
2351,-119.68,36.79,16.0,1551.0,NaN,1010.0,292.0,3.5417,71300.0,INLAND
2412,-119.45,36.61,24.0,1302.0,NaN,693.0,243.0,3.7917,90500.0,INLAND
2420,-119.44,36.58,37.0,1054.0,NaN,879.0,257.0,2.5234,63500.0,INLAND
2578,-124.06,40.86,34.0,4183.0,NaN,1891.0,669.0,3.2216,98100.0,NEAR OCEAN
2608,-124.00,40.92,29.0,1429.0,NaN,672.0,266.0,2.9485,98800.0,<1H OCEAN
2647,-124.13,40.55,38.0,544.0,NaN,240.0,91.0,3.2500,94800.0,<1H OCEAN
2826,-119.11,35.42,52.0,154.0,NaN,37.0,16.0,10.0263,200000.0,INLAND
3024,-119.46,35.14,30.0,2943.0,NaN,1565.0,584.0,2.5313,45800.0,INLAND
3328,-122.72,38.88,29.0,2781.0,NaN,890.0,310.0,1.9906,96600.0,INLAND
3354,-120.67,40.50,15.0,5343.0,NaN,2503.0,902.0,3.5962,85900.0,INLAND
3376,-118.28,34.25,29.0,2559.0,NaN,1886.0,769.0,2.6036,162100.0,<1H OCEAN
3482,-118.45,34.30,27.0,2676.0,NaN,2661.0,623.0,4.3047,152100.0,<1H OCEAN
3485,-118.55,34.28,16.0,8879.0,NaN,3468.0,1200.0,8.1125,428600.0,<1H OCEAN
3529,-118.53,34.26,18.0,3674.0,NaN,1590.0,550.0,8.1760,308400.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
18466,-121.75,37.11,18.0,3167.0,NaN,1414.0,482.0,6.8773,467700.0,<1H OCEAN
18786,-122.42,40.44,16.0,994.0,NaN,495.0,181.0,2.1875,76400.0,INLAND
18873,-122.22,38.08,37.0,2811.0,NaN,1574.0,516.0,3.1053,96700.0,NEAR BAY
18914,-122.22,38.15,7.0,5129.0,NaN,2824.0,738.0,5.5138,171100.0,NEAR BAY
19060,-122.41,38.16,37.0,1549.0,NaN,863.0,275.0,2.7457,254700.0,NEAR BAY
19071,-122.53,38.32,22.0,3577.0,NaN,1371.0,501.0,5.7950,332300.0,<1H OCEAN
19122,-122.65,38.25,23.0,4030.0,NaN,1852.0,778.0,3.4020,193300.0,<1H OCEAN
19150,-122.70,38.35,14.0,2313.0,NaN,954.0,397.0,3.7813,146500.0,<1H OCEAN
19252,-122.79,38.48,7.0,6837.0,NaN,3468.0,1405.0,3.1662,191000.0,<1H OCEAN
19332,-122.91,38.46,18.0,2021.0,NaN,912.0,329.0,4.5000,251900.0,<1H OCEAN
19391,-120.85,37.78,25.0,421.0,NaN,303.0,106.0,2.2679,71300.0,INLAND
19402,-120.93,37.73,14.0,2799.0,NaN,2294.0,596.0,2.6343,81500.0,INLAND
19485,-120.98,37.66,10.0,934.0,NaN,401.0,255.0,0.9336,127100.0,INLAND
19559,-120.98,37.60,36.0,1437.0,NaN,1073.0,320.0,2.1779,58400.0,INLAND
19607,-121.02,37.48,26.0,467.0,NaN,244.0,83.0,4.1346,187500.0,INLAND
19638,-120.97,37.43,27.0,1380.0,NaN,810.0,262.0,2.1875,137500.0,INLAND
19766,-122.10,40.03,25.0,2516.0,NaN,1266.0,494.0,1.7566,58400.0,INLAND
19818,-119.30,36.57,32.0,728.0,NaN,461.0,149.0,3.0156,109100.0,INLAND
19833,-119.38,36.53,38.0,1281.0,NaN,1423.0,293.0,1.9602,51400.0,INLAND
19890,-119.15,36.29,18.0,1435.0,NaN,657.0,254.0,2.4281,72500.0,INLAND
19932,-119.33,36.30,11.0,3045.0,NaN,1563.0,516.0,5.4337,133800.0,INLAND
19959,-119.32,36.25,21.0,1231.0,NaN,609.0,206.0,2.8365,90000.0,INLAND
20046,-119.01,36.06,25.0,1505.0,NaN,1392.0,359.0,1.6812,47700.0,INLAND
20069,-120.37,38.01,30.0,473.0,NaN,242.0,93.0,2.5417,123200.0,INLAND
20125,-118.80,34.41,45.0,1610.0,NaN,1148.0,347.0,2.7000,120400.0,<1H OCEAN
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
housing_num = housing.drop("ocean_proximity", axis=1)
housing_str = housing['ocean_proximity']

In [8]:
housing_num.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [9]:
housing_str.head()

0    NEAR BAY
1    NEAR BAY
2    NEAR BAY
3    NEAR BAY
4    NEAR BAY
Name: ocean_proximity, dtype: object

In [10]:
imputer = SimpleImputer(strategy='median').fit(housing_num)
imputerHousingNum = imputer.transform(housing_num)
imputerHousingNum

array([[-1.2223e+02,  3.7880e+01,  4.1000e+01, ...,  1.2600e+02,
         8.3252e+00,  4.5260e+05],
       [-1.2222e+02,  3.7860e+01,  2.1000e+01, ...,  1.1380e+03,
         8.3014e+00,  3.5850e+05],
       [-1.2224e+02,  3.7850e+01,  5.2000e+01, ...,  1.7700e+02,
         7.2574e+00,  3.5210e+05],
       ...,
       [-1.2122e+02,  3.9430e+01,  1.7000e+01, ...,  4.3300e+02,
         1.7000e+00,  9.2300e+04],
       [-1.2132e+02,  3.9430e+01,  1.8000e+01, ...,  3.4900e+02,
         1.8672e+00,  8.4700e+04],
       [-1.2124e+02,  3.9370e+01,  1.6000e+01, ...,  5.3000e+02,
         2.3886e+00,  8.9400e+04]])

In [11]:
housing = pd.DataFrame(imputerHousingNum, columns=housing_num.columns)
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [12]:
housing[housing.isnull().any(axis=1)]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [13]:
housing['ocean_proximity'] = housing_str
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY